.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: white;
  position: fixed;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 22px;
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover {
  color: #38bdf8;
}